@model List<Personal_Finanace_Context.target_amount>
<form>
    <label>Target Amount</label>
</form>
<table class="table table-bordered"
       <tr>
           <th>Target Id</th>
           <th>User Id</th>
           <th>Amount</th>
       </tr>
@foreach(var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => item.target_id)</td>
        <td>@Html.DisplayFor(m => item.user_id)</td>
        <td>@Html.DisplayFor(m => item.amount)</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.target_id}, new { @class = "btn btn-outline-success mt-2" })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = item.target_id}, new { @class = "btn btn-outline-success mt-2" })</td>
    </tr>
}
<div class="">
    @Html.ActionLink("Back", "TargetAmountView", null, new { @class = "btn btn-outline-success mt-2" })
</div>